{% extends 'index.html' %}

{% block title %}Editing{% endblock %}

{% block content %}
<h1>Edit</h1>
<form method="post">
    <label>Name</label>
    <input type="text" name="name" placeholder="product name" value="{{ product[2] }}">
    <label>Description</label>
    <input type="text" name="description" placeholder="product description" value="{{ product[3] }}">
    <label>Price</label>
    <input type="number" name="price" placeholder="product price" value="{{ product[4] }}">
    <button type="submit">Edit</button>
</form>
{% endblock %}