{% extends 'index.html' %}

{% block title %}Adding a product{% endblock %}

{% block content %}
<h1>Adding a product</h1>

<h2 id="home_page"><a href="{{ url_for('products') }}">Home page</a></h2>

<form method="post">
    <ul>
        <label>Name</label>
        <input type="text" name="name" placeholder="product name" value="{{ request.form['name'] }}">
    </ul>
    <ul>
        <label>Description</label>
        <textarea type="text" name="description" placeholder="product description">
            {{ request.form['description'] }}
        </textarea>
    </ul>
    <ul>
        <label>Price</label>
        <input type="number" name="price" placeholder="product price" value="{{ request.form['price'] }}">
    </ul>
    <ul>
        <button type="submit">Add</button>
    </ul>
</form>
{% endblock %}